/* auth css */

span.login-btn {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: #b2b6c5;
    transition: .3s linear;
    padding: 9px 15px;
    border-radius: 10px;
}

span.login-btn:hover {
    background: #efb90b;
    padding: 9px 15px;
    border-radius: 10px;
    font-weight: 600;
    color: #000;
    cursor: pointer;

}

span.register-btn {
    background: #efb90b;
    padding: 9px 15px;
    border-radius: 10px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: 0.3s all;
}

span.register-btn:hover {
    background: #be9309;

}

.image-baneer img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

.navlink {
    display: flex;
    color: #fff;
    gap: 20px;
    font-size: 16px;
    justify-content: center;
    text-transform: capitalize;
}

.navlinkdata {
    color: #6b7180;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.navlinkdata.active {
    color: #be9309;
}

.right-header-data {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 23px;
}

.header-cartdata {
    color: #fff;
    font-size: 23px;
    position: relative;
}

span.cart-number-value {
    position: absolute;
    top: -11px;
    left: 19px;
    font-size: 15px;
    background: red;
    padding: 0px 5px;
    border-radius: 50%;
}

.section-padding-data {
    padding-top: 90px;
}
/* .h-custom {
    height: 100vh !important;
    } */
    .card-body {
        border-radius: 12px;
        background: #161a25 !important;
        padding: 20px 27px;
    }
    
    .text-white-custom {
        color: #ffffff !important;
      }